In [2]:
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt

In [6]:
steam_data = pd.read_csv('steamcharts.csv')


steam_data

,month,avg_players,gain,gain_percent,peak_players,name,steam_appid
0,Sep-25,7805.25,883.12,0.1276,13254,Counter-Strike,10
1,Aug-25,6922.13,-449.35,-0.0610,12168,Counter-Strike,10
2,Jul-25,7371.48,-833.5,-0.1016,13951,Counter-Strike,10
3,Jun-25,8204.98,-847.53,-0.0936,15798,Counter-Strike,10
4,May-25,9052.51,-471.31,-0.0495,15333,Counter-Strike,10
...,...,...,...,...,...,...,...
612260,Apr-25,2.48,-0.92,-0.2709,8,The Ditzy Demons Are in Love With Me,802870
612261,Mar-25,3.40,-0.19,-0.0532,11,The Ditzy Demons Are in Love With Me,802870
612262,Feb-25,3.59,-0.65,-0.1527,12,The Ditzy Demons Are in Love With Me,802870
612263,Jan-25,4.23,-0.53,-0.1119,11,The Ditzy Demons Are in Love With Me,802870
612264,Dec-24,4.77,0.78,0.1950,13,The Ditzy Demons Are in Love With Me,802870